body {
  width: 100%;
}

.encabezado {
  color: #1fb6b8;
  text-align: center;
}

.middle {
  text-align: center;
}

.article1 {
  margin: 0 auto; /*centra al medio horizontalmente*/
  text-align: justify;
  width: 600px;
}
