body {
  width: 100%;
}

.encabezado {
  color: #1fb6b8;
  text-align: center;
}

.middle {
  text-align: center;
}

.initPic {
  width: 75%;
}
.eventPicture {
  width: 25%; /*para poder hacerlo hacerlo responsive*/
  max-width: 400px;
  min-width: 120px;
}
.article1 {
  margin: 0 auto; /*centra al medio horizontalmente*/
  text-align: justify;
  width: 75%;
  min-width: 360px;
}
