*{
    width: 100%;
    margin: 0 auto;
    font-family: "MonteCarlo", cursive ,'Great Vibes', cursive;
    

}

body{
width: 100%;

}

header{
    background-color: lightblue;
    width: 100%;
    text-align: center;
    font-size: 5ex;
    padding: 5px;
}
header h4{
    margin-top: -15px;
}
.container{
    font-size: 4.5ex;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
nav{
    flex-wrap: wrap;
    height: 100%;
    width: 10%;
    min-width: fit-content;
  
    padding: 25px/* usado 35 para compensar el LIST por izquierda*/

    

}

.listaMenu a{
    
    text-decoration: none;
    color: rgb(0,0,0);
}
.gen{

    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
div.divSup{


    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 20px;

}
.izq{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2 1 0; /* grow shrink basis */

    min-width: 300px;

    border: solid 1px rgb(50,50,50);
    border-radius: 16px;
    padding: 20px;
    
    
}
.izq img{
    border-radius: 24px;
    width: 80%;
}
.der{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 0;/* grow shrink basis */

    min-width: 300px;

    border: solid 1px rgb(50,50,50);
    border-radius: 16px;
    padding: 20px;
}
.der img{
    border-radius: 24px;
    width: 80%;
}

div.divInf{
    width: 100%;
    height: 100%;


    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 20px;
}


.inf1,.inf2,.inf3{

    min-width: 170px;

    
    border-radius: 24px;
    border: solid 1px;
    flex-direction: column;
    flex: 1 1 20%;
    flex-wrap: wrap;

    padding: 15px;
    
}

.divInf img{
    border-radius: 16px;
    width: 100%;
    max-height: 70%;
}




